{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Payment information:</h1>
    <div class="soc-checkout_header">
        <a class="btn" href="{% url 'shipping_information' %}">Shipping information</a>
        <span class="mx-3">&rarr;</span>
        <a class="btn btn-primary" href="{% url 'payment_information' %}">Payment information</a>
        <span class="mx-3">&rarr;</span>
        <span class="">Order overview</span>
    </div>

    <form class="form form-vertical soc-form" method="post">
        {% csrf_token %}
        {% include 'form.html' with form=form %}

        <div class="my-3">
            <a href="{% url 'cart_detail' %}" class="btn btn-secondary p-3 me-2">
                <i class="bi bi-x-circle-fill"></i>
                &nbsp;Cancel Order &nbsp;
            </a>
            <input
                type="submit"
                class="btn btn-success p-3"
                value="Continue to order overview"
            />
        </div>
    </form>

</div>

{% endblock %}
