{% load static %}
<footer class="pt-4 mt-5 pt-md-5 border-top bg-light">
    <div class="row vw-100">
        <h4 class="col-12 col-md p-4 text-end">
            Ship O' Cereal <small class="mb-3 text-muted">&copy; 2021</small>
        </h4>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'about_us' %}">About us</a></li>
                {% if user.is_superuser %}
                <li><a class="text-muted" href="/admin/">Admin site</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
</footer>
