{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Profile</h1>
<div class="card" style="width: 18rem;">
    <img
        {% if user_profile.profile_image %}
            src="{{ user_profile.profile_image.url }}"
        {% else %}
            src="{% static 'images/missing-image-640x360.png' %}"
        {% endif %}
        class="card-img-top"
        alt="Profile image"
    />
    <div class="card-body">
        <h5 class="card-title">
            {{ user_profile.first_name }} {{ user_profile.last_name }}
        </h5>
        <p class="card-text">
            <div class="mb-1">
                {{ user_profile.email }}
            </div>
            <div>
                {{ user_profile.street_name }} {{ user_profile.house_number }}<br />
                {{ user_profile.zipcode }},
                {{ user_profile.city }}<br />
                {{ user_profile.location_id }}<br />
            </div>
        </p>
        <a href="{% url 'profile'  %}" class="btn btn-primary">
            <i class="bi bi-pencil"></i>
            &nbsp; Edit profile &nbsp;
        </a>
    </div>
</div>
{% endblock %}
